body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  -webkit-user-drag: none;
    /* Safari/Chrome */
    -khtml-user-drag: none;
    /* Konqueror */
    -moz-user-drag: none;
    /* Firefox */
    -o-user-drag: none;
    /* Opera */
    // user-drag: none;
    /* Generic */
}